@import "card", "selected";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #202226;
}

.header {
    padding: 10px 0px;

    h1 {
        color: #fff;
        font-weight: 700;
    }
}

.navigation-indicators {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    margin-bottom: 10px;

    a {
        text-decoration: none;
        color: #202226;
        background-color: #fff;
        font-size: 17px;
        font-weight: 400;
        border-radius: 25px;
        padding: 7px 10px;
    }
}